[submodule "Tests/Smarty"]
	path = Tests/Smarty
	url = git@github.com:ShopwareAG/Enlight-Tests-Smarty.git
[submodule "Library/Smarty"]
	path = Library/Smarty
	url = git@github.com:ShopwareAG/Smarty-Library.git
[submodule "Library/Zend"]
	path = Library/Zend
	url = git@github.com:ShopwareAG/Zend-Library.git
